<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Изменить пользователя</title>
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<h2 th:text="'ID: ' + ${user.id}"></h2>

<form th:method="POST" th:action="@{/admin/users/edit}" th:object="${user}">
    <input type="hidden" name="id" th:field="${user.id}">

    <label for="name">Имя пользователя: </label>
    <input type="text" id="name" th:field="*{name}"/>
    <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</div>
    <br/>
    <label for="email">Электронная почта: </label>
    <input type="email" id="email" th:field="*{email}"/>
    <div style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</div>
    <br/>
    <label for="password">Пароль: </label>
    <input type="password" id="password" th:field="*{password}"/>
    <div style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</div>
    <br/>
    <label for="roles">Выберите роли:</label>
    <select multiple="multiple" id="roles" th:field="*{roles}">
        <option th:each="role : ${roles}" th:value="${role.id}" th:text="${role.name}"></option>
    </select>
    <br/>
    <input type="submit" value="Изменить"/>

</form>

</body>
</html>
